version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: housing_db
      MYSQL_USER: sa
      MYSQL_PASSWORD: Tcejorp.v1
    ports:
      - "3306:3306"

  app:
    build: .
    depends_on:
      - db